* {
    box-sizing: border-box;
    scrollbar-color: #2e3236 #1f2327;
    -webkit-scrollbar-color: #2e3236 #1f2327;
}
:root {
    --bleu : #3954ca;
    --noire : #343344;
    --noireFoncé : #222222;
}
::-webkit-scrollbar-track {
    background: #1f2327;
}

::-webkit-scrollbar-thumb {
    background: #2e3236;
}
html {
    width : 100%;
    height : 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #0055b0;
    color: #5b677d;
    overflow: hidden;
}
.nb-here {
    color : #5b677d;
}
.main {
    top : 0;
    position: absolute;
    width : calc(100% - 22.00%);
    height : 100vh;
    background-color: #ffffff;
    color : #1f2327; 
    position: relative;
    float : right;
    z-index : 2;
}
.question {
    float: right;
    margin-top : 6px;
    cursor: pointer;
    color : #5070aa;
    font-size: larger;
}
    /* right : 0;
    color : #5b677d;
    float: right;
    position: absolute;
    top : 0;
    width: calc(100% - 295px)!important;
    left : 295px !important;
    background-color: #ffffff;
    height: 100vh;
    margin : 0;
    padding : 0; */

.flashCards {
    margin: 4% 0px 22% 22%;
    background-color: #ffffff;
    border : 1px solid #dfdfdf;
    color: #343a40;
    border-radius: 1px;
    min-width: 63%;
    min-height: 200px;
    position: relative;
    right: 13%;
}

.flashCards-content {
    text-align: center;
    padding: 25px;
}

.flashCards-text {
    margin-top: 4%;
}
.navbarr.matierre {
    background-color: var(--noire);
}
.FCTitle::after {
    content : "";
    display: block;
    margin-top : 15px;
    height: 1px;
    width: 100%;
    opacity: .4;
    margin : 15px 0 0 0;
    background-color: #343a40;
}
h2.uppasside::after {
    content: "";
    display: block;
    background-color: #007bff;
    width: calc(65%);
    min-width : 226px;
    height: 2px;
}

.asside {
    width : 22.00%;
    min-width: 22.00%;
    height : 100vh;
    background-color: #0055b0;
    float : left;
    padding: 43px;
    color : #ffffff;
    /*
    height: 100%;
    position: absolute;
    width: calc(100% - (100% - ));
    max-width: 310px !important;
    background-color: var(--bleu);
    float: left;
    
    z-index: 1; */
}

.asside-header {
    padding: 20px;
    font-size: 1.65em;
}

.matierre {
    list-style: none;
    padding: 10px 25px;
    font-size: 1.1em;
}

.matierre h2 {
    margin: 0;
    padding: 10px 25px;
}

.matierre h2 {
    text-decoration: #000000 solid 2px;
}

.matierre a {
    text-decoration: none;
    color: #ffffff;
    opacity: .7;
}

.matierre a:hover {
    opacity: 1;
    transition: opacity 1s;
}

.categorie {
    list-style: none;
    padding: 10px 25px;
    font-size: 1.1em;
}

.categorie a {
    text-decoration: none;
    color: #fff;
    opacity: .5;
}

.categorie a:hover {
    opacity: 1;
    transition: .3s;
}

.footer {
    clear : both;
}

.row-counter {
    margin-left: 18%;
    padding : 20px 0 0 0;
}

.row-a {
    padding: none;
    margin: none;
    margin-left: 0%;
    padding-top: 20px;
}

.prev-btn,
.next-btn {
    transform: scale(1.5);
}

.flashCards-text {
    cursor: -moz-grabbing;
}

.affA {
    width: 100%;
    border-radius : 40px;
}


/*---------------------------------*/
.phoneNav {
    display: none;
}

.navbarr {
    display: grid;
}

drop {
    min-height: 25px;
    min-width: 25px;
    height: auto;
    width: auto;
}

.bug .txt {
    padding: 0 0 -5px 0;
    padding: 0;
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
    opacity: .9;
}

.bug2 .txt {
    padding: 0;
    padding: 0 0 5px 0;
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
    opacity: .9;
}
/*----------------Change the background color of all dropDown in asside*/
.navbarr .matierre,
.navbarr .categorie {
    background-color: var(--noire);
}

.bug:hover,
.bug2:hover {
    opacity: 1;
    transition: .3s;
}

.return {
    float: right;
    margin: 12.5px 0 0 0;
}

.text-success {
    cursor: help;
}

.form .row {
    padding: none;
    margin: none;
    padding-top: 20px;
}

#message {
    text-size-adjust: vertical !important;
    padding: 10px;
    min-height: 100px !important;
}

.navbarr .categorie {
    list-style: none;
    color: #fff;
}

.navbar {
    display: none;
}
/*
.menuicocontainer {
    display: inline-block;
    cursor: pointer;
    z-index: 10;
    vertical-align: middle;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(204, 204, 204);
    margin: 6px 0;
    transition: 0.4s;
}

.changetoN .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.changetoN .bar2 {
    opacity: 0;
}

.changetoN .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
*/
.phone-more {
    display : none;
}
.content {
    z-index : 40;
    position: fixed;
    right : 1px;
    bottom : 0;
    width : 350px;
    height : 70vh;
    background-color: #dddddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.textCommand {
    overflow-y: auto;
    position: relative;
    left : 0;
    bottom : 0;
    width : 70%;
    padding : 5px
}
.textSubmit {
    position: relative;
    bottom : 0;
    right : 0;
    padding : 5px;
    width : 30%;
}
.subBar {
    display : inline-flex;
    position: relative;
    float: bottom;
    padding: 5%;
    width : 100%;
    height : 11%;
    background-color: #71a3b8;
}
.subBar .btn {
    margin : 0!important;
}
.textContent {
    overflow-y: auto;
    width : 100%;
    height : 80%;
    background-color: #dddddd;
    padding : 10px;
}
.textContent span {
    margin : 12px 0;
    border-radius: 4px;
    padding : 10px;
    color : #fdfef5;
    background-color: #343a40;
    width : 75%;
}
.textContent span::after {
    margin : 15px 0;
}
.botUnhided{
   display: none;
}
.botHided {
    z-index : 40;
    position: fixed !important;
    right : 0!important;
    bottom : 0!important;
    margin : 10px;
    border-radius : 10px;
}
.infoBar {
    position: sticky;
    top : 0;
    height : 10%;
    width : 100%;
    background-color: #71a3b8;
    padding: 7%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.time {
    color : #fff;
    font-size: 1.2em;
    float : left
}
@media (max-width : 1484px) {
    .main {
        z-index : 0;
        position: relative;
        width: 100%;
        min-height: 100vh;
        height : auto;
        left: 0;
    }
    .dropdown-toggle:first-child{
        margin: 0 0 0 25px;
    }
    .row-counter {
        margin-left: 18%;
    }
    .row .row-counter {
        margin : 0;
        padding : 0;
    }
    .affA {
        position: relative;
        left : -5px;
        
    }
    .subBar {
        padding : .5%;
    }.infoBar {
        padding : 3%;
    }

    .asside {
        display: none;
    }

    .links a {
        margin: 0 10px;
        text-decoration: none;
        color: #fff;
        opacity: .8;
    }

    .links a:hover {
        color: #ddffcf;
        opacity: 1;
        transition: .5s ease-in-out;
    }

    drop.bug,
    drop.bug2 {
        position: absolute;
        visibility: visible;
        top: 50px;
        right: -200%;
    }

    ul.matierre1 {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0px;
    }

    ul.matierre2 {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0px;
    }

    ul.matierre drop.bug {
        right: -145%;
    }
    .nav-link {
        margin-left : 4%;
    }
    body {
        background-color: #0055b0;
        color : #fff;
    }
    .navbar {
        width: 100%;
        height: 150px;
        display: inline-flex;
        padding: 50px;
    }

    .btn {
        margin: 5px;
    }
    .phone-more {
        overflow-x: hidden;
        display: none;
    }
    .links h4 {
        display: block;
    }
    .links a {
        position: relative;
        left : -17px;
    }
    @media (max-width: 780px) {
        .main {
            z-index:1;
            min-height : calc(100vh - 50px);
        }
        .navbar {
            display: none;
        }
        .row-counter {
            margin-left: 12%;
            padding: 15px 15px  0 0;
            display: flex;
            flex-wrap: nowrap;
        }
        .row-counter .next-btn{
            display: inline-block;
        }
        @media (max-width: 470px){
            .row-counter .next-btn {
                left : -10px; 
            }
        }
        .nb-here {
            padding :0;
            margin : 0;
            width : auto;
        }
        .phoneNav {
            display: inline-flex;
            width: 100%;
            height: 50px;
            left: 0;
            top: 0;
        }
        .phone-more {
            overflow: hidden;
            display: block;
            right: -100%;
            position: absolute;
            z-index : 50;
            width : 100%;
            min-height : 100%;
            height : auto;
            background-color: #c4c4c4!important;
            text-align: center;
            color : #343a40;
        }
        .phone-more h2 {
            padding: 25px 0;
        }
        .phone-more ul {
           padding : 0;
           margin : 0;
           list-style: none;
           background-color: #c4c4c4 !important;
           transition: .3s ease-out;
        }
        .phone-more ul:hover {
            background-color: #eaeaea !important;
        }
        .phone-more li {
            padding : 25px 0;
            background-color: inherit!important;
            transition: .2s ease-in-out;
        }
        .phone-more a {
            width: 100%;
            color : inherit;
            text-decoration: none;
        }
        .phone-more li:hover {
            background-color: var(--noire)!important;
            color : #ffffff;
        }
        .question {
            display: none;
            padding : 0;
            margin : 0;
        }
        .main {
            top: 0px;
        }
        h1 {
            font-size: 30px;
            vertical-align: middle;
        }
        body {
            background-color: 0055b0;
            color : #fff;
        }
        .separator {
            margin-left: 0%;
        }
        .phoneNav div {
            vertical-align: middle;
            margin-left: 5%;
            margin-top: 1%;
            margin-right: 5%;
            display: inline-block;
        }

    }
}

.uppasside {
    align-self: auto;
    font-size : 1.8em;

}

.arrow-down::after {
    content: "▾";
    margin: 0px;
    border: 0px;
    font-weight: bolder;

}

.arrow-up::after {
    content: "▴";
    margin: 0px;
    border: 0px;
    font-weight: bolder;
}